@using ECommerce.UI.Models
@model List<BasketModel>

@{ 
    Layout = null;
}

<html>
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

</head>

<body>
    @await Component.InvokeAsync("Header");

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var basketProduct in Model)
                        {
            <tr>
                <td class="cart_product">
                    <a href=""><img src="images/cart/one.png" alt=""></a>
                </td>
                <td class="cart_description">
                    <h4><a href="">@basketProduct.Product.Name</a></h4>
                    <p>Web ID: @basketProduct.Product.ID</p>
                </td>
                <td class="cart_price">
                    <p>@basketProduct.Product.Price</p>
                </td>
                <td class="cart_quantity">
                    <div class="cart_quantity_button">
                        <a class="cart_quantity_up" href="#" onclick="updateBasket('@basketProduct.Product.ID', 'increase')"> + </a>
                        <input class="cart_quantity_input" type="text" name="quantity" value="@basketProduct.Quantity" autocomplete="off" size="2">
                        <a class="cart_quantity_down" href="#" onclick="updateBasket('@basketProduct.Product.ID', 'descrease')"> - </a>
                    </div>
                </td>
                <td class="cart_total">
                    <p class="cart_total_price">@(basketProduct.Product.Price*basketProduct.Quantity)</p>
                </td>
                <td class="cart_delete">
                    <a class="cart_quantity_delete" href="#" onclick="removeBasket('@basketProduct.Product.ID')"><i class="fa fa-times"></i></a>
                </td>
            </tr>}
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <script src="~/js/jquery.js"></script>
    <script type="text/javascript">
        function updateBasket(productId, type) {
            debugger
            var quantity = 0;
            if (type == "increase") {
                quantity++;
            }
            else {
                quantity--;
            }

            $.ajax({
                type: 'POST',
                url: '/Product/UpdateQuantity',
                data: { "productId": productId, "quantity": quantity },
                success: function (data) {
                    location.reload();
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function removeBasket(productId) {
            var status = false;

            $.ajax(
                {
                    type: 'POST',
                    url: "/Product/Remove",
                    data: { "ProductId": productId },
                    success: function (data) {
                        location.reload();
                    },
                    error: function (err) { alert(err); }
                })
        }
    </script>
</body>

</html>
