@using ECommerce.UI.Models
@model ProductViewModel

<div class="features_items">
    @foreach (var product in Model.Products)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/images/home/product6.jpg" alt="" />
                        <h2>@product.Price</h2>
                        <p>@product.Name</p>
                        <a href="'@Url.Action("ProductDetail", "Product",new { productId=product.ID})'" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>@product.Price</h2>
                            <p>@product.Name</p>
                            <a href="'@Url.Action("ProductDetail", "Product", new { productId = product.ID})'" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }

    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPageCount; i++)
        {
            <li @(i == Model.PageIndex +1 ? "class='active'" : "")><a href="@Url.Action("Index", "Product", new { categoryId=Model.CategoryId, brandID=Model.BrandId, pageIndex=i})">@i</a></li>
        }
    </ul>

</div><!--features_items-->